<div class="category">
	<div class="category-container container">
		<div class="swiper-wrapper category__items">
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/category-1.png')">
				<span class="category__caption">
						Стиральные машины&nbsp;Bosch
				</span>
				<!-- /.category__caption -->
				<span class="category__price">
						от 20 350 до 129 990 руб.
				</span>
				<!-- /.category__price -->
				<span class="category__desc">
						Стиральные машины Bosch — это не только традиционное качество немецкой сборки и надежность деталей, но и разнообразие модельного ряда, широкий функционал, а также практичность и экологичность.
				</span>
				<!-- /.category__desc -->

			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/category-2.png')">
				<span class="category__caption">
						Посудомоечные машины&nbsp;Bosch
				</span>
				<!-- /.category__caption -->
				<span class="category__price">
						от 24 990 до 128 990 руб.
				</span>
				<!-- /.category__price -->
				<span class="category__desc">
						Мытье посуды можно без опаски доверить посудомоечным машинам Bosch. Как известно, техника этой марки разрабатывается немецкими специалистами, которые подходят к своей работе со всей ответственностью.
				</span>
				<!-- /.category__desc -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/category-3.png')">
				<span class="category__caption">
						Холодильники<br> Bosch
				</span>
				<!-- /.category__caption -->
				<span class="category__price">
						от 27 350 до 189 990 руб.
				</span>
				<!-- /.category__price -->
				<span class="category__desc">
						Весь модельный ряд холодильников Bosch представленных в магазине, обладает широкой функциональностью и современной технической начинкой. Это практичная и качественная бытовая техника.
				</span>
				<!-- /.category__desc -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/category-4.png')">
				<span class="category__caption">
						Духовые<br> шкафы&nbsp;Bosch
				</span>
				<!-- /.category__caption -->
				<span class="category__price">
						от 19 140 до 201 990 руб.
				</span>
				<!-- /.category__price -->
				<span class="category__desc">
						Духовые шкафы Bosch отличаются высочайшим качеством, проверенным многолетней историей компании, а также отличной функциональностью.
				</span>
				<!-- /.category__desc -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/category-5.png')">
				<span class="category__caption">
						Варочные&nbsp;панели<br> Bosch
				</span>
				<!-- /.category__caption -->
				<span class="category__price">
						от 15 130 до 141 990 руб.
				</span>
				<!-- /.category__price -->
				<span class="category__desc">
						Варочные панели Bosch обладают изысканным дизайном, отличной функциональностью и приемлемой стоимостью. В ассортименте нашего магазина есть газовые, электрические и комбинированные модели на любой вкус и цену.
				</span>
				<!-- /.category__desc -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/category-6.png')">
				<span class="category__caption">
						Пылесосы<br> Bosch
				</span>
				<!-- /.category__caption -->
				<span class="category__price">
						от 4 970 до 31 740 руб.
				</span>
				<!-- /.category__price -->
				<span class="category__desc">
						Пылесосы Bosch выгодно отличаются от устройств других производителей высокой эргономикой, отличной внешностью и высочайшим качеством выполнения поставленных перед ними задач.
				</span>
				<!-- /.category__desc -->
			</a>
			<!-- /.swiper-slide category__item -->
		</div>
		<!-- /.swiper-wrapper category__items -->
	</div>
	<!-- /.category-container -->
	<div class="swiper-pagination category-pagination"></div>
</div>
<!-- /.category -->
