.category {
	font-family: "Roboto Condensed";
	width: 100%;
	max-width: 100%;
	position: relative;

	* {
		box-sizing: border-box;
	}

	// .category__items

	.category__items {
		display: flex;
		flex-wrap: wrap;
	}

	// .category__item

	.category__item {
		width: calc((100%/3) - 11px);
		display: flex;
		flex-direction: column;
		background-repeat: no-repeat;
		background-position: calc(100% - 21px) 15px;
		padding: 22px 150px 0px 24px;
		background-color: #f8f8f8;
		// height: 144px;
		// position: relative;

		&:nth-child(-n+3) {
			margin-bottom: 16px;
		}

		&:nth-child(3n+2) {
			margin-left: 16px;
			margin-right: 16px;
		}

		&:nth-child(2) {
			background-position: calc(100% - 14px) 10px;
		}

		&:nth-child(3) {
			background-position: calc(100% - 16px) 11px;
		}

		&:nth-child(4) {
			background-position: calc(100% - 13px) 8px;
		}

		&:nth-child(5) {
			background-position: calc(100% - 19px) 12px;
		}

		&:nth-child(6) {
			background-position: calc(100% -2px) 0px;
		}

		&:hover {
			.category__caption {
				// color: #ffffff;
				// text-decoration: none !important;
			}

			.category__desc {
				text-decoration: none !important
			}
		}

		text-decoration: none !important;

		* {
			text-decoration: none !important;
		}
	}

	// .category__caption

	&__caption {
		color: #394791;
		font-size: 18px;
		font-weight: 400;
		line-height: 26px;
		margin-bottom: 38px;
		max-width: 170px;
	}

	// .category__price

	&__price {
		color: #333333;
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		margin-bottom: 24px;
	}

	// .category__desc

	&__desc {
		color: #ffffff;
		font-family: Arial;
		font-size: 12px;
		line-height: 19px;
		background-color: #394791;
		margin: auto -150px 0px -24px;
		padding: 17px 14px 15px 24px;
		min-height: 108px;
	}

	.swiper-pagination {
		display: none;
	}

	&+.special-offers {
		margin-top: 56px;
	}

	@media screen and (max-width: 767px) {
		padding-bottom: 0px;

		.category__items {
			flex-wrap: nowrap;
		}

		.swiper-pagination {
			display: flex;
			transform: translateX(-50%);
			left: 50%;
			bottom: 0;

			&-bullet {
				margin: 5px 3px !important;
				background-color: #d8d8d8;
				opacity: 1;

				&-active {
					background-color: #394791;
				}
			}

		}

		.category__item {
			background-position: calc(100% - 15px) 15px;
			background-size: 116px;
			padding: 23px 41% 0px 16px !important;
			// padding: 0 !important;
			height: auto;
			justify-content: space-between;

			&:nth-child(-n+3) {
				margin-bottom: 0px;
			}

			&:nth-child(3n+2) {
				margin-left: auto;
				margin-right: auto;
			}

			&:nth-child(2) {
				background-position: calc(100% - 14px) 10px;
				background-size: 131px;
			}

			&:nth-child(3) {
				background-position: calc(100% - 16px) 11px;
				background-size: 113px;
			}

			&:nth-child(4) {
				background-position: calc(100% - 13px) 8px;
				background-size: 135px;
			}

			&:nth-child(5) {
				background-position: calc(100% - 19px) 12px;
				background-size: 127px;
			}

			&:nth-child(6) {
				background-position: calc(100% -2px) 0px;
				background-size: 143px;
			}


			&:hover {
				background-color: #394791;

				.category__caption {
					color: #ffffff;
					text-decoration: underline;
				}

				.category__price {
					color: #ffffff;
				}
			}
		}

		.category__caption {
			color: #394791;
			font-family: "Roboto Condensed";
			font-size: 18px;
			font-weight: 400;
			line-height: 26px;
			margin-bottom: 19px;
			max-width: unset;
		}

		.category__price {
			font-size: 14px;
			font-weight: 700;
			line-height: 1;
			margin-bottom: 28px;
		}

		.swiper-pagination {
			position: static;
			transform: none;
			justify-content: center;
		}

		.category-container {
			// margin-bottom: 19px;
			padding: 0 !important;
			margin: 0 0 19px !important;
		}

		.category__desc {
			margin: 0 0 0 -16px;
			padding: 17px 14px 15px 17px;
			width: inherit;
			flex-grow: 1;
			display: flex;
			min-height: unset;
			align-items: center;
		}

		+.special-offers.promotional-goods {
			margin-top: 24px;

			+.special-offers {
				margin-top: 25px;
			}
		}

	}
}
