<div class="header__dropdown-menu" id="js-menu">
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">Крупная бытовая техника</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Стиральные машины Bosch</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Стиральные машины с фронтальной загрузкой
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Стиральные машины с вертикальной загрузкой
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="#">Сушильные машины</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="#">Посудомоечные машины</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="#">Холодильники</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Однокамерные холодильники
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Двухкамерные холодильники
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Side-by-Side
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="#">Морозилки</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="#">Духовые шкафы</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Электрические духовые шкафы
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Газовые духовые шкафы
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="#">Варочные панели</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Электрические варочные поверхности
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Газовые варочные поверхности
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Варио варочные поверхности
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="#">Вытяжки</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="#">Микроволновые печи</a>
				</li>
			</ul>
		</div>

	</nav>
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">Малая бытовая техника</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">
			<li class="dropdown-menu__item">
				<a class="dropdown-menu__link" href="#">Медицинское и лабораторное оборудование</a>
			</li>
			<li class="dropdown-menu__item">
				<a class="dropdown-menu__link" href="#">Для гостиниц и ресторанов</a>
			</li>
			<li class="dropdown-menu__item">
				<a class="dropdown-menu__link" href="#">Для охлаждения напитков</a>
			</li>
			<li class="dropdown-menu__item">
				<a class="dropdown-menu__link" href="#">Для пекарен</a>
			</li>
			<li class="dropdown-menu__item">
				<a class="dropdown-menu__link" href="#">Для хранения замороженных продуктов и мороженого</a>
			</li>
		</ul>
		</div>

	</nav>
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title last"><a href="#">Новинки</a></span>
	</nav>
	{% include 'popup-call/callback.html' %}
</div>
