<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		{% include 'section/sidebar/sidebar.html' %}
	</div>
	<div class="col-md-9">
		<div class="breadcrumbs">
			<div itemscope="" itemtype="http://schema.org/BreadcrumbList">
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem">
					<a href="/" title="Главная" itemprop="item"><span itemprop="name">Bosch </span></a>
					<meta itemprop="position" content="1">
				</div>
				<div class="breadcrumbs__sep">/</div>
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem">
					<span itemprop="name">Ремонт Bosch</span><a itemprop="item" href="" title=""></a>
					<meta itemprop="position" content="3">
				</div>
			</div>
		</div>
		<h1 class="title">
			Ремонт Bosch
		</h1>
		<div class="text-default">
			
		</div>
	</div>

</div>
