<article class="about-brand">
	<div class="container">
		<h2 class="about-brand__title">
			Почему покупают технику Bosch

		</h2>
		<img src="images/main-seo-text.png" alt="" class="pic_left loaded lazyloaded">
		<p align="justify">
			Корпус и внутренние стенки выполняются из нержавеющей стали. Ранее такое встречалось только в моделях
			профессиональной техники, а в бытовых приборах внутренняя камера изготавливается из белого пластика. Кроме
			антибактериальных свойств нержавейки производители
			с успехом использовали светоотражающую способность гладкого металла — светодиодные панели находятся по всей
			боковой поверхности холодильной и морозильной камер. Такой размер и положение светильников обеспечивают
			оптимальное распределение света.
			При этом они экономичны и почти не выделяют тепло по сравнению с лампами накаливания, а значит, не влияют на
			температурный режим внутри рабочей камеры.

		</p>
		<p align="justify">
			Светодиодные панели находятся по всей боковой поверхности холодильной и морозильной камер

		</p>
		<p align="justify">
			Особенность морозильной камеры В отличие от других морозильных отделений в Monolith все пространство занято
			не контейнерами, а похоже на холодильное: полки, ящики и дверные емкости. Это удобнее для быстрого доступа к
			часто используемым продуктам, не нужно
			перебирать все упаковки, чтобы найти нужную.

		</p>

	</div>
	<div class="js-about-brand__button about-brand__button">Читать подробнее</div>
	<!-- /.js-about-brand__button -->
</article>
<article class="about-brand">
	<div class="container">
		<img src="images/main-seo-text-2.png" alt="" class="pic_right loaded lazyloaded">
		<p align="justify">
			Прозрачные передняя стенка позволяет быстро найти нужные продукты. На дверцах можно хранить упаковки ягод
			для коктейлей и смузи, мороженое, замороженные травы и овощи для заправки супов.

		</p>
		<p align="justify">
			Большие контейнеры BioFresh помещены на телескопические направляющие и оснащены отдельной светодиодной
			панелью в верхней части.

		</p>
		<p align="justify">
			В приборах использованы современные технологии охлаждения и хранения. Система NoFrost отводит излишнюю влагу
			из морозильного отделения, поэтому наледь не образуется, а значит, нет необходимости проводить разморозку.

		</p>
		<p align="justify">
			Равномерное охлаждение PowerCooling в холодильной камере поддерживает равномерную температуру. Фильтр с
			активированным углем FreshAir убирает неприятные запахи.

		</p>

	</div>
	<div class="js-about-brand__button about-brand__button">Читать подробнее</div>
	<!-- /.js-about-brand__button -->
</article>

<article class="about-brand seo-text text-default">
	<div class="container">
		<h2 class="about-brand__title center">Официальные сайты и дилеры Siemens</h2>
		<p>
			Прозрачные передняя стенка позволяет быстро найти нужные продукты. На дверцах можно хранить упаковки ягод
			для
			коктейлей и смузи, мороженое, замороженные травы и овощи для заправки супов. Большие контейнеры BioFresh
			помещены на
			телескопические направляющие и оснащены отдельной светодиодной панелью в верхней части.

		</p>
		<p>
			В приборах использованы современные технологии охлаждения и хранения. Система NoFrost отводит излишнюю влагу
			из
			морозильного отделения, поэтому наледь не образуется, а значит, нет необходимости проводить разморозку.
		</p>
		<div class="official-dealers">
			<a class="official-dealers__link" data-fancybox="gallery" data-type="iframe"
				href="https://www.youtube.com/embed/K2Vc3_-wxtk" id="bx_3322728009_11700">

				<picture>

					<source type="image/webp" class=" lazyloading" data-srcset="images/official-dealers.png"
						srcset="images/official-dealers.png">

					<img data-src="images/official-dealers.png" alt="видео 1 на главной"
						class="official-dealers__pic lazyloaded" src="images/official-dealers.png">
				</picture>
			</a>
			<a class="official-dealers__link" data-fancybox="gallery" data-type="iframe"
				href="https://www.youtube.com/embed/v2kV6pgJxuo" id="bx_3322728009_11701">

				<picture>

					<source type="image/webp" class=" lazyloading" data-srcset="images/official-dealers-2.png"
						srcset="images/official-dealers-2.png">

					<img data-src="images/official-dealers.png" alt="видео 2 на главной"
						class="official-dealers__pic lazyloaded" src="images/official-dealers-2.png">
				</picture>

			</a>
		</div>

		<p>
			В отличие от других морозильных отделений в Monolith все пространство занято не контейнерами, а похоже на
			холодильное: полки, ящики и дверные емкости. Это удобнее для быстрого доступа к часто используемым
			продуктам, не
			нужно перебирать все упаковки, чтобы найти нужную. Прозрачные передняя стенка позволяет быстро найти нужные
			продукты.
			На дверцах можно хранить упаковки ягод для коктейлей и смузи, мороженое, замороженные травы и овощи для
			заправки
			супов.

		</p>
		<p>Большие контейнеры BioFresh помещены на телескопические направляющие и оснащены отдельной светодиодной
			панелью в
			верхней части.
		</p>
		<p>
			В приборах использованы современные технологии охлаждения и хранения. Система NoFrost отводит излишнюю влагу
			из
			морозильного отделения, поэтому наледь не образуется, а значит, нет необходимости проводить разморозку.
		</p>
		<p>
			Равномерное охлаждение PowerCooling в холодильной камере поддерживает равномерную температуру. Фильтр с
			активированным углем FreshAir убирает неприятные запахи.

		</p>

	</div>
	<div class="about-brand__button  js-about-brand__button ">Читать подробнее</div>
	<!-- /.js-about-brand__button -->
</article>
<article class="about-brand" id="bx_3099439860_14196">
	<div class="container">

		<img data-src="images/main-seo-text-3.png" class="pic_right loaded lazyloaded"
			alt="Сервисные центры Bosch в России" src="images/main-seo-text-3.png" data-was-processed="true">

		<h2 class="about-brand__title">Сервисные центры Bosch в России</h2>
		<p align="justify">
			В случае, если у вас возникли вопросы по поводу гарантийных ситуаций, а также интересует специализированный
			ремонт приборов бренда, всегда можно обратиться в сервисные центры. Подробнее про условия гарантии, а также
			адреса и телефоны сервисов можно почитать <a target="_blank" href="/guarantee/">здесь</a>.
		</p>
		<p align="justify">
			Для ремонта крупной бытовой техники можно позвонить по телефону горячей линии: +7-800-200-29-61. Для ремонта
			малой
			бытовой техники обращайтесь в сервис центры Бош. Если вы находитесь в городе Москва, можете подать заявку на
			<a target="_blank" href=''>послегарантийный ремонт</a> на нашем сайте. Это актуально для стиральных,
			сушильных,
			посудомоечных машин.
		</p>
	</div>
</article>
