<article class="seo-text text-default">
	<div class="container">
		<h2 class="seo-text__title">
			Бытовая техника Bosch
		</h2>
		<img src="images/main-seo-text.png" alt="" style="float: right; padding: 0 0  12px 35px;">
		<p align="justify">
			Бытовая техника Бош — это стиль, эстетика и широкий функционал. Высокое качество материалов, особое внимание
			к деталям и технологиям производства обеспечивают безопасную и надежную эксплуатацию. Широкий ассортимент
			техники Бош для кухни и дома включает встраиваемые, отдельностоящие, компактные и полноразмерные модели.
			Эргономичный дизайн, разнообразие стилевых решений и размеров позволяют создавать из приборов гармоничные
			комбинации.
		</p>
		<div class="seo-text__button js-seo-text__button ">Читать подробнее</div>
		<h2 class="seo-text__title">
			Преимущества техники Bosch
		</h2>
		<p align="justify">
			Это энергосберегающие режимы, удобное управление и легкий уход. Порядка 40% патентов связаны с защитой
			окружающей среды и оптимальным использованием ресурсов. Наличие автоматических программ экономит время и
			силы на приготовление и обслуживание приборов. Высокую эффективность, производительность, надежность и
			длительный срок службы техники обеспечивает строгий контроль качества на всех стадиях производства.
		</p>

		<div class="official-dealers">
			<h2>
				Официальные сайты и дилеры Bosch
			</h2>
			<div class="mobile">
					Оборудование компании возникло на российском рынке еще в 1904 году. В РФ сейчас расположены семь
					действующих заводов по изготовлению продукции. Так, например, в Ленинградской области производятся
					стиральные машины и холодильники, в Саратовской — электроинструменты, отопительное оборудование и
					радиаторы, а также автомобильные компоненты в Саратовской и в Самарской. В городе Химки (Московская
					обл.) расположен главный офис по странам СНГ.
			</div>
			<p>
				Оборудование компании возникло на российском рынке еще в 1904 году. В РФ сейчас расположены семь
				действующих заводов по изготовлению продукции. Так, например, в Ленинградской области производятся
				стиральные машины и холодильники, в Саратовской — электроинструменты, отопительное оборудование и
				радиаторы, а также автомобильные компоненты в Саратовской и в Самарской. В городе Химки (Московская
				обл.) расположен главный офис по странам СНГ. В 2018 году Группа компаний Bosch отметила свой юбилей —
				25 лет в России. Подробнее можно почитать на официальном сайте.
			</p>
			<ul>
				На данный момент флагманский магазин Bosch находится в Москве. Он расположен по адресу: Цветной бульвар,
				д. 2. Помимо этого, сейчас легко воспользоваться услугами партнеров бренда и предложениями официальных
				дилеров. Чтобы не ошибиться с выбором продавца, обращайте внимание:
				<li>
					насколько представлен широкий ассортимент,
				</li>
				<li>
					выгодные и «прозрачные» ли условия доставки и подключения техники,
				</li>
				<li>
					придерживается ли поставщик строгой ценовой политики официального интернет-магазина бытовой техники.
				</li>
				<li>
					действительна ли гарантия и доступны ли услуги сервисных центров,
				</li>
				<li>
					а также на компетентность менеджеров и качество консультаций.
				</li>
			</ul>
			<a class="official-dealers__link" data-fancybox="gallery" data-type="iframe"
				href="https://www.youtube.com/embed/K2Vc3_-wxtk">
				<img src="images/official-dealers.png" alt="" class="official-dealers__pic">
				<span>Гармония стиля и функциональности Bosch</span>
			</a>
			<a class="official-dealers__link" data-fancybox="gallery" data-type="iframe"
				href="https://www.youtube.com/embed/v2kV6pgJxuo">
				<img src="images/official-dealers-2.png" alt="" class="official-dealers__pic">
				<span>Управление через Интернет - #LikeABosch</span>
			</a>
			<div class="seo-text__button js-seo-text__button ">Читать подробнее</div>
		</div>
		<div class="about-store">
			<h2 class="seo-text__title">
				Интернет-магазин Bosch
			</h2>

			<p>
				Специализированный интернет-магазин Бош предлагает удобные условия доставки и оплаты. Менеджеры готовы принять заказ и ответить на любой вопрос по технике ежедневно с 9:00 до 22:00. Кроме того, специалисты нашего партнерского сервисного центра предлагают услуги по корректному подключению и вводу в эксплуатацию. На всю продукцию, представленную у нас, предоставляется официальная гарантия производителя.
			</p>

		</div>
		<h2 class="seo-text__title">
			Сервисные центры Bosch в России
		</h2>
		<img src="images/main-seo-text-3.png" alt="" style="float: right; padding: 0 0  12px 35px;">
		<p align="justify">
			В случае, если у вас возникли вопросы по поводу гарантийных ситуаций, а также интересует специализированный ремонт Бош, всегда можно обратиться в сервисные центры. Подробнее про условия гарантии, а также адреса и телефоны сервисов можно почитать <a href="#">здесь</a>.
		</p>
		<p align="justify">
			Для ремонта крупной бытовой техники можно позвонить по телефону горячей линии: +7-800-200-29-61. Для ремонта малой бытовой техники обращайтесь в сервис центры Бош. Если вы находитесь в городе Москва, можете подать заявку на<a href="#"> послегарантийный ремонт</a> на нашем сайте. Это актуально для стиральных, сушильных, посудомоечных машин.
		</p>
	</div>

</article>
