<article class="about-brand">
	<div class="container">
		<h2 class="about-brand__title">
			О бренде Bosch
		</h2>
		<img src="images/about-brand.png" class="pic_right" alt="">
		<p align="justify">
			На сегодняшний день компания Bosch, основанная более полувека назад немецким инженером-промышленником Гансом
			Бошром,
			представляет собой целую корпорацию, поражающую своими успехами сразу в нескольких областях. Один из ведущих
			мировых
			изготовителей строительной и горно-шахтной техники, Bosch, в то же время, является признанным лидером в
			производстве
			холодильного оборудования премиум-класса.
		</p>
		<p align="justify">
			Первый холодильник под логотипом бренда был изготовлен в 1954 году на предприятие в городе Оксенхаузен на
			юге
			Германии. Главными достоинствами «новинки» стали удобство в эксплуатации и надежность. В первой модели нашел
			свое
			отражение будущий девиз семейного предприятия: «Bosch — символизирует качество в Европе и за ее пределами».
			В 1966
			году компания, усовершенствовавшая свои предыдущие наработки, представила широкой публике холодильник с
			новой
			революционной технологией — системой «FrostSafe», которая значительно упростила процесс ручного обслуживания
			техники.
			По сегодняшний день каждая новая модель Bosch неизменно поражает своими функциональными возможностями.

		</p>
		<p align="justify">
			В настоящее время спектр бытовой техники Bosch невероятно широк. Ассортимент компании составляют устройства,
			встраиваемые под столешницу или в мебельные ниши кухонных гарнитуров, отдельностоящие приборы, морозильные
			лари,
			холодильно-морозильные комбинации, климатические шкафы для хранения вина и хьюмидоры. Инновационные
			концепции,
			современный дизайн, продуманные решения и высокое удобство использования — всё это отличает холодильную и
			морозильную
			технику Bosch.
		</p>
		<div class="about-brand__button js-about-brand__button">Читать подробнее</div>
	</div>
</article>
<!-- <article class="about-brand">
	<div class="container">
		<img src="images/about-brand-2.png" style="float: right; padding-left: 25px;" align='left' alt="">
		<h2 class="about-brand__title">
			О бренде Bosch
		</h2>
		<p align="justify">
			Эта техника уже очень давно заслужила доверие и признание покупателей как на российском, так и мировом
			рынках. Секрет успеха компании «Robert Bosch GmbH» заключается в умении слушать клиентов и понимать их
			желания и потребности. Роберт Бош всегда действовал по принципу «Честная работа важнее сиюминутной выгоды».
			Тем самым он заложил абсолютно бескомпромиссное отношение к качеству выпускаемой продукции.
		</p>
		<p align="justify">
			Немецкий бренд берёт свое начало еще в 19 веке. И уже в 30-х годах 20 века выходит на передовую линию рынка
			электрических приборов для дома: в 1933 году был выпущен первый электрический холодильник круглой формы на
			60 л. Каждое последующее десятилетие было ознаменовано новаторскими предложениями: кухонные комбайны,
			комбинированные стиральные машины с функцией сушки, посудомоечные машины, электрические зубные щетки, фены,
			пылесосы.

		</p>
		<p align="justify">
			В 1990-е годы для мирового сообщества становится крайне важным вопрос экологии и защиты окружающей среды.
			Компания Bosch не остается в стороне и задает новые стандарты производства на своих заводах. Сейчас легко
			узнать наиболее экологичные приборы по печати «Green Technology Inside». Забота о природе начинается от
			самой разработки техники вплоть до переработки упаковочных материалов. На сегодняшний день наша бытовая
			техника является одной из самых энергоэффективных и экономичных в плане потребления ресурсов во всем мире.

		</p>
		<p align="justify">
			Основное призвание продукции этого бренда: постараться облегчить повседневные будни и снять груз забот с
			плеч своих покупателей.
		</p>
	</div>
</article> -->
<!-- <article class="about-brand">
	<div class="container">
		<h2 class="about-brand__title center">
			Почему покупают технику Bosch
		</h2>
		<ul>
			Помимо перечисленных выше преимуществ, вроде внешнего вида, достойного ценового диапазона и технических
			характеристик, следует детальнее отметить некоторые технологии, позволяющие поддерживать высокий спрос на
			технику этого производителя. Например:
			<li>
				Во встраиваемых <a
					href="https://bs-rus.ru/bosch/stiralnye-mashiny/recommend/vstraivaemye-stiralki/">стиральных машинах
					Bosch</a> используется тихий, долговечный и энергоэффективный мотор
				EcoSilence Drive™, работающий на основе магнитов постоянного
				тока.
			</li>
			<li>
				Уверенность производителя в своей технике позволяет бренду предоставлять потребителю гарантию от
				сквозной коррозии на систему «Aquastop» сроком до 10 лет во
				<a href="">встраиваемых посудомоечных машинах Bosch.</a>
			</li>
			<li>
				<a href="#">Встраиваемые холодильники Bosch</a> из линейки NatureCool принято считать одними из самых
				тихих — их
				уровень шума
				не превышает и 38 дБ, что можно сравнить с обычным
				тихим шепотом.
			</li>
			<li>
				Несколько прикосновений к панели управления и набор продуктов превращается в кулинарный шедевр от
				лучшего
				шеф-повара — все это о встраиваемых духовых шкафах
				Бош. Премиальный дизайн и технологии, которым нет равных для вашей выпечки, запекания блюд, прожарки
				мяса на
				гриле и прочее. Высокая гастрономия становится как
				никогда доступна.
			</li>
			<li>
				<a href="#">Индукционные варочные панели Bosch</a> поражают своей скоростью приготовления. Например, вскипятить воду
				получится
				в 2 раза быстрее, чем на обычной
				стеклокерамической панели. А это экономия времени, сил и электроэнергии.
			</li>
		</ul>
		<ul>
			<b>
					Мы являемся официальным специализированным магазином техники Bosch, а значит наши плюсы очевидны:
			</b>
			<li>
					Доставка по всей России. А для жителей Москвы товары, отмеченные уникальным лейблом поставляются бесплатно. Подробнее с условиями можно ознакомиться <a href='#'>здесь</a>.
			</li>
			<li>
					Для жителей Москвы действует бесплатная установка приборов, отмеченных специальным лейблом. Подробнее с условиями можно ознакомиться <a href="#">здесь</a>.
			</li>
			<li>
					На весь товар, купленный в нашем интернет-магазине, распространяется официальная гарантия Bosch, в соответствии с действующим законодательством РФ о защите прав
					потребителей.
			</li>
		</ul>
	</div> -->
<!-- <div class="js-about-brand__button about-brand__button">Читать подробнее</div> -->
<!-- /.js-about-brand__button -->
<!-- </article> -->
