<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		{% include 'section/sidebar/sidebar.html' %}
	</div>
	<div class="col-md-9">
		<div class="breadcrumbs">
			<div itemscope="" itemtype="http://schema.org/BreadcrumbList">
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem">
					<a href="/" title="Главная" itemprop="item"><span itemprop="name">Bosch </span></a>
					<meta itemprop="position" content="1">
				</div>
				<div class="breadcrumbs__sep">/</div>
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem">
					<span itemprop="name">Ремонт Bosch</span><a itemprop="item" href="" title=""></a>
					<meta itemprop="position" content="3">
				</div>
			</div>
		</div>
		<h1 class="title">
			Ремонт Bosch
		</h1>
		<div class="text-default repair">
			<h4>
				Если у вас гарантийный случай
			</h4>
			<blockquote>
				<p>
					На технику Bosch распространяется гарантия — 1 год с момента продажи. Гарантия действует только на
					приборы, которые
					эксплуатировались в домашних условиях.

				</p>
				<p>
					Срок гарантии на комплектующие — 3 месяца. Комплектующими считаются изделия, которые можно
					демонтировать без
					использования инструментов: полки, корзины, ящики, решетки, насадки, шланги. Такой же срок — три
					месяца — действует на
					новые комплектующие, которые были установлены при проведении гарантийного либо платного ремонта.
				</p>
				<a href="">Подробнее о гарантийном ремонте</a>
			</blockquote>
			<h4>
				Если у вас не гарантийный случай
			</h4>
			<blockquote id="claim-docs">

				<p>Если срок гарантии закончился, то вы можете заполнить заявку на
					нашем сайте
					<b>на ремонт</b>*: </p>

				<ul>
					<li style="list-style: disc;">стиральной</li>

					<li style="list-style: disc;">сушильной</li>

					<li style="list-style: disc;">посудомоечной машины.</li>
				</ul>

				<p>Укажите ваш правильный телефон, категорию техники и кратко опишите
					проблему.
				</p>

				<p>С вами свяжется специалист сервисного центра, чтобы уточнить
					параметры заявки и
					время обслуживания. </p>

				<p><b>Время работы:</b> Пн.-Пт. 8:30 — 24:00. </p>

				<p><b>*Актуально для г. Москва.</b></p>

			</blockquote>
			<div class="return-exchange__item">
				<h3>
					Форма для заявки
				</h3>
				<form name="" action="" method="post" enctype="" class="return-exchange__form">
					<input type="hidden" name="" value="">
					<input type="hidden" name="" value="">
					<div class="return-exchange__field">
						<span class="return-exchange__name">Представьтесь, пожалуйста<span
								class="return-exchange__required">*</span></span>
						<input required type="text" name="" value="" class="return-exchange__input"
							title="Представьтесь, пожалуйста *">
						<span class="return-exchange__error-text"></span>
					</div>
					<div class="return-exchange__field">
						<span class="return-exchange__name">Телефон<span
								class="return-exchange__required">*</span></span>
						<input required type="text" name="F[PHONE]" value="" class="return-exchange__input"
							title="Телефон">
						<span class="return-exchange__error-text"></span>
					</div>
					<div class="return-exchange__field">
						<span class="return-exchange__name">Метро<span class="return-exchange__required"></span></span>
						<input type="text" name="" value="" class="return-exchange__input" title="Метро">
						<span class="return-exchange__error-text"></span>
					</div>
					<div class="return-exchange__field">
						<span class="return-exchange__name">Категория бытовой техники <span
								class="return-exchange__required">*</span></span>
						<select required class="return-exchange__input" name="">
							<option value="" d2isabled="">Выберите категорию</option>
							<option value="26">
								стиральная машина</option>
							<option value="27">
								сушильная машина</option>
							<option value="28">
								посудомоечная машина </option>
						</select>
					</div>
					<div class="return-exchange__field">
						<span class="return-exchange__name">Опишите проблему<span
								class="return-exchange__required">*</span></span>
						<textarea name="" rows="" cols="" class="return-exchange__textarea"
							title="Причина обращения"></textarea>
						<span class="return-exchange__error-text"></span>
					</div>
					<div class="return-exchange__field return-exchange__attachment">
						<label class="checkbox checkbox_oferta ">
							<input type="checkbox" name="" class="checkbox__input" checked="">
							<span class="checkbox__icon"></span>
							<span class="checkbox__text">Согласен с
								<a href="#">использованием персональных данных</a>для обработки обращения</span>
						</label>
						<div class="return-exchange__error-text js-field-error-text"></div>
					</div>
					<div class="return-exchange__submit return-exchange__attachment">
						<input type="submit" value="Отправить" class="btn-sub3 abuse-popup__submit" name="">
					</div>
				</form>
				<div class="return-exchange__info">
					*Все заявки направляются в партнерский Сервисный центр. Сайт bs-rus.ru не несет ответственности за
					работу Сервисного центра.
				</div>
			</div>
		</div>
	</div>

</div>
