<!-- <div class="breadcrumbs">
	<a href="#" class="breadcrumbs__link">Главная</a>
	<span class="breadcrumbs__sep">/</span>
	<span class="breadcrumbs__text">Новости23</span>
</div> -->
<!-- /.breadcrumbs -->
<div class="breadcrumbs">
	<div itemscope="" itemtype="http://schema.org/BreadcrumbList">
		<div class="breadcrumbs__link" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
			<a href="/" title="Главная" itemprop="item"><span itemprop="name">Главная</span></a>
			<meta itemprop="position" content="1">
		</div>
		<div class="breadcrumbs__sep">/</div>
		<div class="breadcrumbs__link" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
			<span itemprop="name">Новости23</span><a itemprop="item" href="" title=""></a>
			<meta itemprop="position" content="3">
		</div>
	</div>
</div>
<!-- /.breadcrumbs -->
