<div class="gallery">

	<div class="swiper-container-main js-swiper-main">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">

			<div class="swiper-slide" id="bx_3218110189_6323">
				<img class="lazyload" data-src="https://l-rus.ru/upload/iblock/187/187f667aae0c234ba78d2d926e1e84ef.jpg"
					alt="Холодильники Bosch на сайте официального специализированного магазина" />

				<div class="swiper__item">
					<div class="swiper__title">

						<h1 class="span span__small">Холодильники Bosch на сайте официального специализированного
							магазина</h1>

					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_6320">
				<img class="lazyload" data-src="https://l-rus.ru/upload/iblock/31a/31aea2330730709f9e135533ee1a1377.jpg"
					alt="Двухкамерные холодильники Bosch" />

				<div class="swiper__item">
					<div class="swiper__title">

						<span class="span span__small">
							<a href="/liebherr/holodilniki/dvukhkamernye-kholodilniki-s-morozilnikom/">
								Техника Bosch на сайте официального специализированного магазина
							</a>
						</span>

						<!-- <span class="span span__big">Приборы Comfort и&nbsp;Premium отличаются дизайном
							и&nbsp;функционалом. Высокое качество&nbsp;не зависит от&nbsp;класса.<br>
							<b>Цена от&nbsp;25500 до&nbsp;153000&nbsp;рублей.</b></span> <a
							href="/liebherr/holodilniki/dvukhkamernye-kholodilniki-s-morozilnikom/"
							title="Двухкамерные холодильники Bosch" class="swiper__link">Посмотреть</a> -->
					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_6317">
				<img class="lazyload" data-src="https://l-rus.ru/upload/iblock/a36/a3672ea729191dbfca607f894ab3b2c4.jpg"
					alt="Морозильные камеры Bosch" />

				<div class="swiper__item">
					<div class="swiper__title">

						<span class="span span__small">
							<a href="/liebherr/holodilniki/morozilnye-kamery/">
								Техника Bosch на сайте официального специализированного магазина
							</a>
						</span>

						<!-- <span class="span span__big">Созданы для длительного бережного хранения продуктов разного типа.
							Автоматическая или ручная разморозка.<br>
							<b>Цена от 19000 до 132500 рублей</b></span> <a
							href="/liebherr/holodilniki/morozilnye-kamery/" title="Морозильные камеры Bosch"
							class="swiper__link">Посмотреть</a> -->
					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_6319">
				<img class="lazyload" data-src="https://l-rus.ru/upload/iblock/392/392cd32ea09240431033fb9598e2c893.jpg"
					alt="Встраиваемые холодильники Bosch" />

				<div class="swiper__item">
					<div class="swiper__title">

						<span class="span span__small">
							<a href="/liebherr/vstraivaemiye-holodilniki/">
								Техника Bosch на сайте официального специализированного магазина
							</a>
						</span>

						<!-- <span class="span span__big">Разные габариты помогут подобрать прибор для любой кухни.
							По&nbsp;функционалу не&nbsp;уступают отдельностоящим.<br>
							<b>Цена от&nbsp;44500 до&nbsp;468000&nbsp;рублей.</b></span> <a
							href="/liebherr/vstraivaemiye-holodilniki/" title="Встраиваемые холодильники Bosch"
							class="swiper__link">Посмотреть</a> -->
					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_6321">
				<img class="lazyload" data-src="https://l-rus.ru/upload/iblock/8b6/8b62cfd31d8709c747b56469c12e2870.jpg"
					alt="Холодильники Side-by-Side Bosch" />

				<div class="swiper__item">
					<div class="swiper__title">

						<span class="span span__small">
							<a href="/liebherr/holodilniki/side-by-side/">
								Техника Bosch на сайте официального специализированного магазина
							</a>
						</span>

						<!-- <span class="span span__big">Модели класса Premium большой вместимости и&nbsp;расширенного
							функционала. Различное расположение камер.<br>
							<b>Цена от&nbsp;140000 до&nbsp;342000&nbsp;рублей.</b></span> <a
							href="/liebherr/holodilniki/side-by-side/" title="Холодильники Side-by-Side Bosch"
							class="swiper__link">Посмотреть</a> -->
					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_6322">
				<img class="lazyload" data-src="https://l-rus.ru/upload/iblock/c18/c186cd7eb2457710c7bd2e25e6b77d8c.jpg"
					alt="Однокамерные холодильники Bosch" />

				<div class="swiper__item">
					<div class="swiper__title">

						<span class="span span__small">
							<a href="/liebherr/holodilniki/odnokamernye-kholodilniki-bez-morozilnika/">
								Техника Bosch на сайте официального специализированного магазина
							</a>
						</span>

						<!-- <span class="span span__big">Различные габариты и&nbsp;функционал&nbsp;— для любых условий.
							Специальные камеры BioFresh для овощей и&nbsp;фруктов.<br>
							<b>От&nbsp;18000 до&nbsp;132500&nbsp;рублей.</b></span> <a
							href="/liebherr/holodilniki/odnokamernye-kholodilniki-bez-morozilnika/"
							title="Однокамерные холодильники Bosch" class="swiper__link">Посмотреть</a> -->
					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_2085">
				<img class="lazyload" data-src="https://l-rus.ru/upload/iblock/408/4089b2cd344974a335ae5b975070ef63.jpg"
					alt="5 самых популярных" />

				<div class="swiper__item">
					<div class="swiper__title">

						<span class="span span__small">Техника Bosch на сайте официального специализированного магазина
						</span>

						<!-- <span class="span span__big">Обзор самых популярных моделей по результатам продаж.</span> <a
							href="/news/5-samykh-populyarnykh-kholodilnikov-liebherr.html" title="5 самых популярных"
							class="swiper__link">Посмотреть</a> -->
					</div>
				</div>
			</div>

		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev swiper-button-main main_prev"></div>
		<div class="swiper-button-next swiper-button-main main_next"></div>

		<!-- If we need scrollbar -->
		<div class="swiper-scrollbar"></div>
	</div>
	<div class="gallery__items">

		<div class="gallery__tablet">
			<div class="gallery__el">
				<a class="gallery__link" href="">
					<!-- <picture> -->
					<img src="images/gallery-link_1.png" alt="">
					<!-- </picture> -->
					<div class="gallery__parent">
						<span class="gallery__article">Официальная гарантия</span>
						<span class="gallery__text">Гарантийный сервис Liebherr</span>
					</div>
				</a>
			</div>
			<div class="gallery__el">
				<a class="gallery__link" href="">
					<!-- <picture> -->
					<img src="images/gallery-link_2.png" alt="">
					<!-- </picture> -->
					<div class="gallery__parent">
						<span class="gallery__article">Сервис и обслуживание</span>
						<span class="gallery__text">Об установке и подклчении</span>
					</div>

				</a>
			</div>
			<div class="gallery__el">
				<a class="gallery__link" href="">
					<!-- <picture> -->
					<img src="images/gallery-link_3.png" alt="">
					<!-- </picture> -->
					<div class="gallery__parent">
						<span class="gallery__article">Глоссарий</span>
						<span class="gallery__text">Технологии компании Liebherr</span>
					</div>

				</a>
			</div>
			<div class="gallery__el">
				<a class="gallery__link" href="">
					<!-- <picture> -->
					<img src="images/gallery-link_1.png" alt="">
					<!-- </picture> -->
					<div class="gallery__parent">
						<span class="gallery__article">Отзывы</span>
						<span class="gallery__text">Тыкну пальцем в небо</span>
					</div>

				</a>
			</div>
		</div>
		<!-- <div class="gallery__tablet">
			<div class="gallery__el">
				<a class="gallery__link" href="">
					<picture> <img src="images/gallery-link_1.png" alt=""></picture>
					<div class="gallery__parent">
						<span class="gallery__article">Официальная гарантия</span>
						<span class="gallery__text">Гарантийный сервис Liebherr</span>
					</div>
				</a>
			</div>
			<div class="gallery__el">
				<a class="gallery__link" href="">
					<picture> <img src="images/gallery-link_2.png" alt=""></picture>
					<div class="gallery__parent">
						<span class="gallery__article">Сервис и обслуживание</span>
						<span class="gallery__text">Об установке и подклчении</span>
					</div>

				</a>
			</div>
			<div class="gallery__el">
				<a class="gallery__link" href="">
					<picture> <img src="images/gallery-link_3.png" alt=""></picture>
					<div class="gallery__parent">
						<span class="gallery__article">Глоссарий</span>
						<span class="gallery__text">Технологии компании Liebherr</span>
					</div>

				</a>
			</div>
			<div class="gallery__el">
				<a class="gallery__link" href="">
					<picture> <img src="images/gallery-link_1.png" alt=""></picture>
					<div class="gallery__parent">
						<span class="gallery__article">Отзывы</span>
						<span class="gallery__text">Тыкну пальцем в небо</span>
					</div>

				</a>
			</div>
		</div> -->

	</div>

</div>
